<footer class="footer">
    <div class="about grid">
        <p>Đây là một dòng mô tả về shop</p>
        <p>Nhóm 16 - Học phần thực tập cơ sở ngành </p>
        <p>Thành viên: 1. Nguyễn Trung Hiếu; 2. Nguyễn Mạnh Hoàn; 3. Đào Quốc Huy </p>

    </div>

    <div class="contact">
        <div class="grid contact__content">
            <div class="contact__col">
                <h3>Chăm sóc khách hàng</h3>
                <a href="">Trung tâm trợ giúp</a>
                <a href="">Hướng dẫn bán hàng</a>
                <a href="">Thanh toán</a>
                <a href="">Vận chuyển</a>
                <a href="">Trả hàng & Hoàn tiền</a>
                <a href="">Chính sách bảo hành</a>
            </div>
            <div class="contact__col">
                <h3>Về chúng tôi</h3>
                <a href="">Giới thiệu về Nhóm 16</a>
                <a href="">Tuyển dụng</a>
                <a href="">Điều khoản</a>
                <a href="">Chính sách bảo mật</a>
                <a href="">Chính hãng</a>
                <a href="">Kênh người bán</a>
                <a href="">Chính sách bảo hành</a>
            </div>

            <div class="contact__col">
                <h3>Thanh toán</h3>
                <img  src="" alt="Thanh toán" width="80%">
                <h3>Đơn vị vận chuyển</h3>
                <img  src="" alt="Đơn vị vận chuyển" width="80%">
            </div>
            

            <div class="contact__col">
                <h3>Theo dõi chúng tôi trên</h3>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-instagram"></i>
                    Instagram
                </a>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-youtube"></i>
                    Youtube
                </a>
            </div>

            <div class="contact__col">
                <h3>Tải ứng dụng ngay thôi</h3>
                <a href=""class="download">
                    <img  src="/images/QrCode.jpg" alt="qrcode" class="qrcode-img">
                    <div class="download__app">
                        <img  src="/images/appstore.png" alt="Appstore" class="qr-img-app">
                        <img  src="/images/ggplay.png" alt="Google Play" class="qr-img-app">
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>