<!-- views/payment-success.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>Thanh Cong</h1>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // const transId = localStorage.getItem("transId");

        // async function confirmPayment() {
        //     try {
        //         await axios.post("<%='http://localhost:3000' %>/checkPayMent", {
        //             transId: transId
        //         }, {
        //             withCredentials: true
        //         });

        //         window.location.href = "/";
        //     } catch (err) {
        //         alert("Có lỗi trong quá trình xác nhận thanh toán!!!");
        //         window.location.href = "/";
        //     }
        // }

        // confirmPayment();
    </script>
</body>

</html>